/* main colors */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue-dark: #1b3b6f;
  --main-blue-light: #427aa1;
}

html {
  font-family: Oxygen, sans-serif;
  color: var(--main-white);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #9eb3c2;
  text-decoration: none;
}

#navbar {
  position: absolute;
  top: 0px;
  right: 0px;
}

.nav-list {
  display: flex;
  margin-right: 2vw;
}

.nav-list a {
  display: block;
  font-size: 1.5vw;
  padding: 1vh;
  padding-left: 5vw;
  position: relative;
  cursor: pointer;
}

.nav-list a:hover {
  color: #9eb3c2;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #21295c;
}

#welcome-section h1 {
  font-size: 5vw;
  margin: 0px;
}

#welcome-section p {
  font-size: 2vw;
  margin: 0px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
}

#about-me {
  background-color: #1b3b6f;
}

#about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}

#about-me-content img {
  border-radius: 50%;
  width: 100vw;
  order: 2;
}

#about-me-content p {
  font-size: 2vw;
  margin: 50px;
  text-align: center;
}

#projects {
  background-color: #065a82;
}

#contact {
  background-color: #1c7293;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  margin-top: 0px;
  position: relative;
  cursor: pointer;
}

.contact-links img {
  width: 3vw;
  margin-right: 0.5vw;
}

.contact-links a {
  margin-right: 7vw;
  padding-left: 5vw;
  position: relative;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #1c7293;
  color: #9eb3c2;
  font-size: 1.1vw;
}

/* animations */

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 2.3vw;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "<";
  left: 3.5vw;
  transform: translateX(10px);
}

div.brackets a:after {
  content: "/>";
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}
