/* main colors */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue-dark: #1b3b6f;
  --main-blue-light: #427aa1;
}

html {
  font-family: "Titillium Web", sans-serif;
  color: white;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #21295c;
}

a {
  color: #9eb3c2;
  text-decoration: none;
}

#navbar {
  position: absolute;
  top: 0px;
  right: 0px;
}

#navbar a {
  color: black;
}

.nav-list {
  display: flex;
  margin-right: 2vw;
}

.nav-list a {
  display: block;
  font-size: 1.5vw;
  padding: 1vh;
  padding-left: 5vw;
  position: relative;
  cursor: pointer;
}

.nav-list a:hover {
  color: #9eb3c2;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #21295c;
  background-image: url("../img/WelcomePage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.welcome-content {
  padding-left: 5vw;
}

h1 {
  font-size: 5vw;
  margin: 0px;
  z-index: 0;
}

#welcome-section h1 {
  animation-duration: 1.7s;
}

#welcome-section p {
  font-size: 2vw;
  margin: 0px;
  z-index: 0;
  animation-delay: 1s;
  animation-duration: 2s;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scroll span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: scroll-down 1.5s linear infinite;
  opacity: 0;
}

.scroll span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scroll span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scroll span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
}

#about-me {
  background-color: #1b3b6f;
}

#about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70%;
}

#about-me-content img {
  border-radius: 50%;
  display: block;
  width: 40%;
  height: auto;
  order: 2;
  margin: 1% 5% 5% 5%;
}

#about-me-content div {
  font-size: 2vw;
  padding: 2%;
  margin: 5%;
  margin-right: 0px;
  width: 75vw;
  text-align: center;
}

#projects {
  background-color: #065a82;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#projects-list h3 {
  font-size: 2vw;
}

#projects-list a {
  color: var(--main-white);
}

#projects-list p {
  font-size: 1.5vw;
  z-index: 0;
}

#projects-list .card {
  background-color: #065a82;
  margin: 5%;
}

#contact {
  background-color: #21295c;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  margin-top: 0px;
  position: relative;
  cursor: pointer;
}

.contact-links img {
  width: 3vw;
  margin-right: 0.5vw;
}

.contact-links a {
  margin-right: 7vw;
  padding-left: 5vw;
  position: relative;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #21295c;
  color: #9eb3c2;
  font-size: 1.1vw;
}

.card {
  position: relative;
  display: inline-block;
  width: 50%;
  background-color: #1b3b6f;
  padding: 2%;
}

#welcome-section {
  text-shadow: 0.15em 0.15em black;
}

h2 {
  text-shadow: 0.1em 0.1em black;
}

/* animations */

.card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    90deg,
    rgba(197, 4, 247, 1) 0%,
    rgba(255, 130, 0, 1) 100%
  );
  transform: skew(2deg, 2deg);
  z-index: -1;
}

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  opacity: 0;
  top: 0px;
  font-size: 2.3vw;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "<";
  left: 3.5vw;
  transform: translateX(10px);
}

div.brackets a:after {
  content: "/>";
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

span {
  position: relative;
  z-index: 0;
}

.pullUp {
  background: linear-gradient(
    90deg,
    rgba(197, 4, 247, 1) 0%,
    rgba(255, 130, 0, 1) 100%
  );
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size 0.3s;
}

.pullUp:hover,
.pullUp:focus {
  background-size: 100% 100%;
}

.pullUpHigher:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 15%;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(197, 4, 247, 1) 0%,
    rgba(255, 130, 0, 1) 100%
  );
  transition: all 0.3s;
  z-index: -1;
}

.pullUpHigher:hover:before {
  height: 80%;
}

@keyframes scroll-down {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

/* mobile */

@media (max-width: 768px) {
  .nav-list a {
    font-size: 5vw;
  }

  div.brackets a:before,
  div.brackets a:after {
    font-size: 5vw;
    top: 3px;
  }

  div.brackets a:before {
    left: 2vw;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 8vw;
  }

  #welcome-section {
    background-size: 325vw 100vh;
    background-position: 25%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0;
  }

  .welcome-content {
    text-align: center;
  }

  #welcome-section p {
    font-size: 6.5vw;
    text-align: center;
  }

  #about-me-content {
    flex-direction: column;
  }

  #about-me-content div {
    font-size: 5vw;
    width: 80vw;
    margin: 0;
    margin-bottom: 15px;
  }

  #projects-list p {
    font-size: 4vw;
  }

  #projects-list h3 {
    font-size: 5vw;
  }

  #projects-list .card {
    width: 80%;
  }

  .contact-links {
    font-size: 5vw;
  }

  .contact-links img {
    width: 5vw;
  }

  footer {
    font-size: 2.5vw;
  }
}
