/* main colors */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue-dark: #1b3b6f;
  --main-blue-light: #427aa1;
}

html {
  font-family: "Titillium Web", sans-serif;
  color: var(--main-white);
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #9eb3c2;
  text-decoration: none;
}

#navbar {
  position: absolute;
  top: 0px;
  right: 0px;
}

.nav-list {
  display: flex;
  margin-right: 2vw;
}

.nav-list a {
  display: block;
  font-size: 1.5vw;
  padding: 1vh;
  padding-left: 5vw;
  position: relative;
  cursor: pointer;
}

.nav-list a:hover {
  color: #9eb3c2;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #21295c;
}

#welcome-section h1 {
  font-size: 5vw;
  margin: 0px;
  z-index: 0;
}

#welcome-section p {
  font-size: 2vw;
  margin: 0px;
  z-index: 0;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
}

#about-me {
  background-color: #1b3b6f;
}

#about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

#about-me-content img {
  border-radius: 50%;
  width: 100vw;
  order: 2;
  margin: 10px 50px 50px 50px;
}

#about-me-content div {
  font-size: 2vw;
  padding: 20px;
  margin: 50px;
  margin-right: 0px;
  width: 175vw;
  text-align: center;
  z-index: 0;
}

#projects {
  background-color: #065a82;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

#projects-list h3 {
  font-size: 2vw;
}

#projects-list a {
  color: var(--main-white);
}

#projects-list p {
  font-size: 1.5vw;
  z-index: 0;
}

#projects-list .card {
  background-color: #065a82;
}

#contact {
  background-color: #1c7293;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  margin-top: 0px;
  position: relative;
  cursor: pointer;
}

.contact-links img {
  width: 3vw;
  margin-right: 0.5vw;
}

.contact-links a {
  margin-right: 7vw;
  padding-left: 5vw;
  position: relative;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #1c7293;
  color: #9eb3c2;
  font-size: 1.1vw;
}

/* animations */

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.card {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  width: 50vw;
  height: 23vw;
  background-color: #1b3b6f;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}

.card:hover::after {
  opacity: 1;
}

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 2.3vw;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "<";
  left: 3.5vw;
  transform: translateX(10px);
}

div.brackets a:after {
  content: "/>";
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

span {
  position: relative;
  z-index: 0;
}

.pullUp:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(197, 4, 247, 1) 0%,
    rgba(255, 130, 0, 1) 100%
  );
  transition: all 0.3s;
  z-index: -1;
}

.pullUp:hover:before {
  height: 100%;
  z-index: -1;
}

.pullUpHigher:before {
  bottom: 15%;
}

.pullUpHigher:hover:before {
  height: 80%;
}
